<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>显示文章</title>
<script src="template/bootstrap/bootstrap/js/bootstrap.min.js"></script>
<link href="template/css/index.css" rel="stylesheet">
</head>
<body>
<div class='article'>

	<?php
	//获得数据库数组
	$data=include 'libs/article_database.php';
	//获得当前页面序号
	$id=$_GET['id'];
	?>
    <a href=''>返回首页</a>
	<h3><?php echo $data[$id]['title']?></h3>
	<div>
		<p class='time'>发布于：<em><?php echo date('Y-m-d ',$data[$id]['date'])?></em></p>
		<p class='content'><?php echo $data[$id]['content']?></p>
	</div>
	<a href='index.php?path=editShow&id=<?php echo $id ?>'>编辑</a>
	<a href='index.php?path=del&id=<?php echo $id ?>'>删除</a>
</div>
</body>
</html>